bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.SamuelIH.Nwn.Blueprints/.idea/deployment.xml
.idea/.idea.SamuelIH.Nwn.Blueprints/.idea/discord.xml
.idea/.idea.SamuelIH.Nwn.Blueprints/.idea/indexLayout.xml
.idea/.idea.SamuelIH.Nwn.Blueprints/.idea/vcs.xml
